<h2>reddit</h2> 
<ul>
    {{#posts}}
    <li>
        <div>{{data.score}}</div>
        <div>
            <a href="{{data.url}}" target="_blank">
                <img src="{{data.thumbnail}}" alt="..."/>
            </a>
        </div>
        <div>
            <h4>{{data.title }} <small>{{data.author }}</small></h4>
            <a href="https://reddit.com{{data.permalink}}" target="_blank">
                {{data.num_comments }} comments
            </a>
        </div>
    </li>
    {{/posts}}
</ul>